<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>Sightings</title>
</head>
<body>
    <h3>Add/Update a sighting</h3> </br>
    {% if errors %}
        {{ errors }}
    {% else %}
        <form action="/sightings/add" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</body>
</html>